# Node.js
node_modules/
npm-debug.log

# Yarn
yarn-error.log
yarn.lock

# Dependency directories
/jspm_packages/
/bower_components/

# System Files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*

# Keys
.env
